@import "./reset.scss";
@import "./variables.scss";

@import url("https://fonts.cdnfonts.com/css/sf-mono");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b1830;
  color: white;
}

h1 {
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;

  a {
    text-decoration: none;
    margin-left: 50px;
    color: white;
    font-family: var(--font-mono);
    font-size: 12px;
    opacity: 0.75;
    transition: 0.2s ease-in-out;

    span {
      opacity: 0.5;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  a.btn {
    width: 75px;
    border: 1px solid #a2a6a8;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
  }

  max-width: 1700px;
  padding-top: 40px;
  margin: 0 auto;
}

.work {
  width: 60%;
  margin: 0 auto;
  align-items: center;
  margin-top: 200px;
  max-width: 1700px;
  height: 50vh;

  h2 {
    font-family: var(--font-sans);
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    color: #ccd6f6;

    span {
      font-family: var(--font-mono);
      font-weight: 300;
    }

    hr {
      border: 1px solid #233554;
      width: 300px;
      margin: 0;
      margin-left: 20px;
    }
    margin-bottom: 50px;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .project-card {
      width: 45%;
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      

      .tech {
        display: flex;
        align-items: center;
      }

      .links {
        display: flex;
        align-items: center;
      }

      svg {
        width: 20px;
        stroke: white;
      }
    }
  }
}

.experience {
  width: 60%;
  margin: 0 auto;
  align-items: center;
  margin-top: 200px;
  max-width: 1700px;
  height: 50vh;

  h2 {
    font-family: var(--font-sans);
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    color: #ccd6f6;

    span {
      font-family: var(--font-mono);
      font-weight: 300;
    }

    hr {
      border: 1px solid #233554;
      width: 300px;
      margin: 0;
      margin-left: 20px;
    }
    margin-bottom: 50px;
  }

  .job-cycle {
    display: flex;
    align-items: baseline;

    .left {
      display: flex;
      flex-direction: column;
    }

    .right {
      margin-left: 70px;
      width: 70%;

      h3 {
        font-weight: 500;
        font-size: 18px;
        color: #ccd6f6;
        font-family: var(--font-sans);

        span {
          color: #a2a6a8;
        }
      }

      .date {
        margin-top: 20px;
        font-family: var(--font-mono);
        font-size: 13px;
        color:#a8b2d1;
        margin-bottom: 30px;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: 20px;
          line-height: 2;
          font-family: var(--font-sans);
        }
      }
    }

    .left {
      flex: 1;
      p {
        font-family: var(--font-mono);
        border-left: 2px solid #233554;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        transition: 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: #233554;
        }
      }
    }
  }
}

.about {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 60%;
  margin: 0 auto;
  max-width: 1700px;

  .left {
    flex-direction: column;
    justify-content: center;
  }

  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 100px;
  }

  p {
    line-height: 2;
    font-family: var(--font-sans);
    opacity: 0.5;
    margin-bottom: 20px;
  }

  h2 {
    font-family: var(--font-sans);
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    color: #ccd6f6;

    span {
      font-family: var(--font-mono);
      font-weight: 300;
    }

    hr {
      border: 1px solid #233554;
      width: 300px;
      margin: 0;
      margin-left: 20px;
    }
    margin-bottom: 50px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0 10px;
    margin: 20px 0;
    overflow: hidden;
    list-style: none;

    li {
      font-family: var(--font-mono);
      font-size: 12px;
      margin-bottom: 20px;
      opacity: 0.5;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  width: 60%;
  margin: 0 auto;
  max-width: 1700px;


  .tagline {
    color: #a2a6a8;
    font-family: var(--font-mono);
    margin-bottom: 20px;
  }

  h1 {
    font-weight: 600;
    color: #ccd6f6;
    font-size: 50px;
  }

  h2 {
    color: #8892b0;
    font-size: 50px;
    font-family: var(--font-sans);
    font-weight: 600;
    margin-top: 15px;
  }

  p {
    line-height: 2;
    margin-top: 25px;
    font-family: var(--font-sans);
    opacity: 0.5;
  }
}

.socials-left {
  position: fixed;
  bottom: 0;
  left: 50px;

  svg {
    width: 20px;
    stroke: #8892b0;
  }

  li {
    margin-bottom: 20px;
  }
}

.socials-left {
  :nth-child(3) {
    ::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0 auto;
      margin-top: 20px;
      background-color: #8892b0;
    }
  }
}

.email-right {
  position: fixed;
  bottom: 0;
  right: 50px;

  a {
    writing-mode: vertical-rl;
    text-decoration: none;
    color: #8892b0;
    font-family: var(--font-mono);
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  ::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: #8892b0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
